<div class="col-lg-8 mx-auto">
    <p class="lead mb-4">Nuestros muebles fabricados con madera reciclada de lapacho son excelentes para decorar tu ambiente o tu patio. con un estilo rustico y simple, nuestros muebles se amoldan a todos los gustos.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary px-4 gap-3">Navegar</button>
      <button type="button" class="btn btn-outline-secondary px-4">Contactar</button>
    </div>
  </div>
